body{
    background-image: url(https://img.freepik.com/free-photo/abstract-blur-defocused-hotel-lobby_74190-6374.jpg?size=626&ext=jpg);
    background-size: cover;
}


table{
    background-color: white;
    opacity: 75%;
    color: black;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 150px;
    width: 60rem;
    height: 40rem;
}

tr.firstrow{
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.button1{
    background-color: white;
}

.table1{
    background-color: white;
    opacity: 75%;
    color: black;
    margin-left: 300px;
    margin-right: 300px;
    margin-top:150px;
    width: 60rem;
    height: 40rem;
}
.policy{
    font-weight: bold;
    font-style: italic;
}
.terms{
    text-decoration:underline;
    text-align: center ;
}