#title {
    padding-top: 1cm;
    font-family: "BodoniStd-BookItalic, serif";
    font-size: 30px;
}

h1 {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
}

.desc {
    position: relative;
    padding-left: 7cm;
    position: absolute;
}

h2 {
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
}

#p2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
}

.room-features-inner {
    padding-left: 2cm;
    padding-top: 1cm;
}

.list-feature {
    list-style: square;
}

.list-feature2 {
    list-style: square;
}

.list-feature3 {
    list-style: square;
}

#spaimg {
    padding-left: 2cm;
    padding-top: 2cm;
    position: absolute;
}

#salonimg {
    padding-left: 2cm;
    padding-top: 1cm;
    position: absolute;
}

#gymimg {
    padding-left: 0cm;
    padding-top: 10cm;
    position: absolute;
}