body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/02/13/254396/8af5c9a091ef2402208b555195c53ae2.jpg");

  /* Half height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


  



.row0 {
  
  margin-bottom: 15px;
  
}
.slide{

border: rgb(15, 14, 14) !important;
width: inherit !important;
}

.caption{
  color: rgb(255, 254, 254) !important;
  font-weight: bold !important;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.gal{
text-align: center !important;
 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  font-weight: bolder !important;

  background-color: black !important;
  color: darkgrey !important;

}


@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}



h3 {
  letter-spacing: 2px;
  text-align: center;

}
/*bookbutton hover*/
.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: rgb(27, 26, 26);
}
.list-group{
  background-color: gray !important;
}


/*list*/

.y{
  width: 250px;

}
.z{
  width: 275px;

}
.y h3{
color: #fff;
background: #303235;
padding: 10px 15px;
font-size: 20px;
font-weight: 700;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-right: none !important;


}
.z h3{
color: #fff;
background: #303235;
padding: 10px 15px;
font-size: 20px;
font-weight: 700;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-align: center;
}
.lis ul{
  position: relative;
  background: gray;
  

}
.lis ul li{
  list-style: none;
  padding: 9px;
  width: 100%;
  background-color: gray;
  box-shadow: 0 5px 25px grey;
  transition: transform 0.5s;

}
.lis ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: #b8c5ca;
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: rgb(31, 25, 25);
}
.lis ul li span{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #414141;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;

}