body {
    background-image: url("https://images4.alphacoders.com/113/thumb-350-113576.jpg");
    background-size: cover;
}

.sq1 {
    position: fixed;
    padding-left: 4.5cm;
    padding-top: 1cm;
}

.sq2 {
    position: fixed;
    padding-left: 17.6cm;
    padding-top: 1cm;
}

#sqaure1 {
    background-image: url("yes.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#sqaure2 {
    background-color: white;
}

#h1 {
    font-size: 40px;
    font-weight: bold;
}

.table {
    position: fixed;
    padding-left: 18cm;
    padding-top: 2cm;
    color: black;
}

.line {
    padding-top: 20cm;
    padding-left: 15cm;
    position: fixed;
}

#row2 {
    font-size: 20px;
}

#row3 {
    font-size: 20px;
}

#row4 {
    font-size: 20px;
}

#row5 {
    font-size: 20px;
}

#row6 {
    font-size: 20px;
}

#row7 {
    font-size: 20px;
}

#row8 {
    font-size: 20px;
}
